body{
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: 'Poppins', serif;
    
}

.all-section{
    display:flex;
    margin-bottom: 40px;
}

.half-width{
    width:50%;
    padding-left: 110px;
    
    padding-top: 50px;
}

.normal-width{
 padding-right: 110px;
    padding-top: 50px;
}

.half-width img{
    width:90%;
    padding-top: 50px;
}

#top-header{
    font-size: 60px;
  margin-bottom: 0px;
    border-left: 4px solid #7c76bb;
    padding-left: 15px;
   
}

.text-color{
  color:#21bf73;
}

.btn{
    background-color: #21bf73;
    padding: 8px 25px;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

#mission{
    text-align: center;
    border-bottom: 1px solid rgb(99, 99, 99);
    width:40%;
    margin:auto;
    font-size: 50px;
    font-weight: 900;
}

h2{
    font-weight: 900; 
    font-size: 35px;
    margin: 0px;
}

/*2nd section box styles*/
.box{
    padding: 20px 19px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    width:40%;
}

.box p{
    font-size: 15px;
}

.box img{
    width: 20%;  
    display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px; 
}
#first-box{
    background-color: rgb(243, 239, 253);
    margin-left:8%;
    margin-right: 2%;
}
#second-box{
    background-color: rgb(226, 255, 241);
}
#last-box{
    background-color: rgb(255, 239, 233);
    margin-left:2%;
    margin-right: 8%;
}

/*third section*/
.sec-3{
    display:flex;
    margin-bottom: 10px;
    background-image: url(images/shapes/shape-12.png);
    background-repeat: no-repeat;
    background-position:right;
}

/*fourth section*/
.sec-4{
    display:flex;
    margin-bottom: 10px;
    background-image: url(images/shapes/shape-14.png);
    background-repeat: no-repeat;
    background-position:left;
}

/*contact form*/
#contact-header{
border:2px solid #2e1060;
color:#2e1060;
border-radius: 10px;
text-align: center;
width:50%;
margin:auto;

}
.container {
    border-radius: 5px;
    background-color: #eeeeee;
    display:flex;
    color:#2e1060;
    padding: 20px;
    margin-bottom: 50px;
  }

input, textarea {
    width: 100%;
    padding: 12px;
    border: 0px solid rgb(235, 235, 235);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    font-size: 14px;
    margin-bottom: 16px;
    resize: vertical;
  }
 .submit-btn{
        background-color: #2e1060;
        padding: 10px 25px;
        border-radius: 5px;
        text-decoration: none;
        color:white;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
 }
/*footer area*/
footer{
    display: block;
    height:150px;  
    color:white;
    background-color:rgb(12, 13, 29);
}

.footer-txt{
 margin:auto;
  width: 50%;
  text-align: center;
  padding: 15px 0px;
}



